/* ==========================================================================
   #CORE
   ========================================================================== */

// Table of Contents:
//
//  1. #COLORS
//  2. #FONTS
//  3. #TEXTS
//  4. #MEDIAQUERIES
//  5. #Z-INDEX
//  6. #SIZES





// 1. #COLORS
$primary-color   : #0C2C5D;
$secondary-color : #1661FF;

$texts : #6B869F;

$grey        : #919191;
$grey-light  : #E9E9E9;





// 2. #FONTS
$font-family-default: 'avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;





// 3. #TEXTS
$giga-size         : rem-calc(96); 
$mega-size         : rem-calc(72); 
$kilo-size         : rem-calc(48); 

$font-size-h1      : rem-calc(32); //.alpha
$font-size-h2      : rem-calc(23); //.beta
$font-size-h3      : rem-calc(20); //.gamma
$font-size-h4      : rem-calc(18); //.delta
$font-size-h5      : rem-calc(16); //.epsilon
$font-size-h6      : rem-calc(15); //.zeta

$font-size-milli   : rem-calc(13); 
$font-size-micro   : rem-calc(12);

$font-size-large   : $font-size-h4;
$font-size-small   : $font-size-milli;





// 4. #MEDIAQUERIES
$xxs : rem-calc(320);  // iphone4 / iphone5s
$xs  : rem-calc(375);  // iphone6-7-8
$sm  : rem-calc(640);  // tablet 7"
$md  : rem-calc(768);  // iPad
$lg  : rem-calc(1024); // iPad landscape
$xl  : rem-calc(1440); // desktops 

$xxs-and-up : "only screen and (min-width : #{$xxs})" !default;
$xs-and-up  : "only screen and (min-width : #{$xs})" !default;
$sm-and-up  : "only screen and (min-width : #{$sm})" !default;
$md-and-up  : "only screen and (min-width : #{$md})" !default;
$lg-and-up  : "only screen and (min-width : #{$lg})" !default;
$xl-and-up  : "only screen and (min-width : #{$xl})" !default;

$xss-and-down : "only screen and (max-width : #{$xxs})" !default;
$xs-and-down  : "only screen and (max-width : #{$xs})" !default;
$sm-and-down  : "only screen and (max-width : #{$sm})" !default;
$md-and-down  : "only screen and (max-width : #{$md})" !default;
$lg-and-down  : "only screen and (max-width : #{$lg})" !default;





// 5. #Z-INDEX
$zindex-dropdown       : 1000 !default;
$zindex-sticky         : 1020 !default;
$zindex-fixed          : 1030 !default;
$zindex-modal-backdrop : 1040 !default;
$zindex-modal          : 1050 !default;
$zindex-popover        : 1060 !default;
$zindex-tooltip        : 1070 !default;





// 6. #SIZES
$size-xxs : rem-calc(4) !default;
$size-xs  : rem-calc(8) !default;
$size-s   : rem-calc(12) !default;
$size     : rem-calc(16) !default;
$size-m   : rem-calc(18) !default;
$size-lg  : rem-calc(24) !default;
$size-xl  : rem-calc(32) !default;
$size-xxl : rem-calc(48) !default;

$container-width : rem-calc(1280) !default;
$border-radius-global : $size-xxs;
