<div class="grid__block"> 

  <div class="grid__block--front-face">
    @@if(context.icon === 'theme') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-theme.html")
    </div>
    }
    @@if(context.icon === 'like') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-like.html")
    </div>
    }
    @@if(context.icon === 'lock') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-lock.html")
    </div>
    }
    @@if(context.icon === 'eye') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-eye.html")
    </div>
    }
    @@if(context.icon === 'notification') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-notification.html")
    </div>
    }
    @@if(context.icon === 'smile') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-smile.html")
    </div>
    }
    <h3 class="title">@@title</h3>
    <p>@@description</p>
  </div>

  <div class="grid__block--back-face">
    @@if(context.icon === 'theme') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-theme.html")
    </div>
    }
    @@if(context.icon === 'like') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-like.html")
    </div>
    }
    @@if(context.icon === 'lock') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-lock.html")
    </div>
    }
    @@if(context.icon === 'eye') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-eye.html")
    </div>
    }
    @@if(context.icon === 'notification') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-notification.html")
    </div>
    }
    @@if(context.icon === 'smile') {
    <div class="wrapper--icon wrapper--icon--medium">
      @@include("../components/svg/_ic-smile.html")
    </div>
    }
    <h3 class="title">@@title</h3>
    <p>@@descriptionBackFace</p>
  </div>

</div>
