/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.o-wrapper {

  background-color: transparent;
  min-height: calc(100vh - 7.2rem);
  display: flex;
  justify-content: center;
  padding-top: 7.2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  margin-top: 400px;

}
