/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  background-color: white;
  font-family: $font-family-default;
  font-size: $font-size-h4;
  color: $texts
}
