/* ==========================================================================
   #GRID
   ========================================================================== */

.wrapper--grid {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(rem-calc(320), 1fr);

  @media #{$md-and-up} {
    grid-template-columns: [start] repeat(2, 1fr) [end];
  }
  @media #{$lg-and-up} {
    grid-template-columns: [start] 1fr 1fr 1fr [end];
  }
}
