<svg width="35px" height="37px" viewBox="0 0 35 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="We---Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="2_Features_we" transform="translate(-213.000000, -343.000000)">
            <g id="Group-19" transform="translate(215.000000, 345.000000)">
                <path d="M31,0 L0,0 L0,31 L9.86363636,22.5454545 L23.9545455,22.5454545 C27.8295455,22.5454545 31,19.375 31,15.5 L31,0 Z" id="Shape" stroke="#1866F2" stroke-width="3"></path>
                <circle id="Oval" fill="#1866F2" fill-rule="nonzero" cx="7.04545455" cy="11.2727273" r="2.11363636"></circle>
                <circle id="Oval" fill="#1866F2" fill-rule="nonzero" cx="15.5" cy="11.2727273" r="2.11363636"></circle>
                <circle id="Oval" fill="#1866F2" fill-rule="nonzero" cx="23.9545455" cy="11.2727273" r="2.11363636"></circle>
            </g>
        </g>
    </g>
</svg>
