/************************************************************
 * #HEADER
 ************************************************************/

.page-header {
  margin: 0;
  padding-right: rem-calc(20);
  padding-left: rem-calc(20);

  nav {
    @include box-shadow(none);
    background-color: transparent;
    
    a ,
    .brand-logo {
      color: $primary-color;
    }
  }
}
