// ==========================================================================
// WEBSITE VARIABLES
// ==========================================================================

// Table of Contents:
//
//  1. #COLORS
//  2. #FONTS
//  3. #TEXTS
//  4. #MEDIAQUERIES
//  5. #Z-INDEX





/************************************************************
 * 1. #COLOR
 ************************************************************/

$primary-color   : blue;
$secondary-color : yellow;


// Texts
$text-darker : #393939;
$text        : #525252;
$text-medium : #A8A8A8;


// Error
$error      : #DF4A63;
$warning    : #FE845E;


// Organizational profiles colors 
// Yellow
$bg-yellow        : #FFF8E3;
// $buttonYellow : Same as $sHome

// Orange
$bg-orange        : #FCEDD9;
$button-orange    : #E98300;

// Rose
$bg-rose          : #FBEEF1;
$button-rose      : '#E18A9E';

// Green
$bg-green         : '#EBF1E6';
// $buttonGreen  : Same as Control 


// Turquoise
$bg-turquoise     : '#D9F2F1';
$button-turquoise : '#03A89E';

// Blue
$bg-blue          : '#E5EBF3';
$button-blue      : '#4D78AD';

// Purple
$bg-purple        : '#F1EBF3';
$button-purple    : '#A17AAA';





/************************************************************
 * 2. #FONTS
 ************************************************************/

$font-family-default: 'avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;





/************************************************************
 * 3. #TEXTS
 ************************************************************/

$giga-size         : rem-calc(96); 
$mega-size         : rem-calc(72); 
$kilo-size         : rem-calc(48); 

$font-size-h1      : rem-calc(36); //.alpha
$font-size-h2      : rem-calc(24); //.beta
$font-size-h3      : rem-calc(18); //.gamma
$font-size-h4      : rem-calc(16); //.delta
$font-size-h5      : rem-calc(14); //.epsilon
$font-size-h6      : rem-calc(12); //.zeta

$font-size-milli   : rem-calc(11); 
$font-size-micro   : rem-calc(10);





/************************************************************
 * 4. #MEDIAQUERIES
 ************************************************************/
$xs : rem-calc(375);  // tablet 7"
$sm : rem-calc(600);  // iPad
$md : rem-calc(768);  // iPad landscape
$lg : rem-calc(1024); // desktops
$xl : rem-calc(1440); // desktops extra larges

$xs-and-up : "only screen and (min-width : #{$xs})" !default;
$sm-and-up : "only screen and (min-width : #{$sm})" !default;
$md-and-up : "only screen and (min-width : #{$md})" !default;
$lg-and-up : "only screen and (min-width : #{$lg})" !default;
$xl-and-up : "only screen and (min-width : #{$xl})" !default;

$sm-and-down : "only screen and (max-width : #{$sm})" !default;
$md-and-down : "only screen and (max-width : #{$md})" !default;
$lg-and-down : "only screen and (max-width : #{$lg})" !default;

$sm-only     : "only screen and (min-width : #{$sm}) and (max-width : #{$md})" !default;
$md-only     : "only screen and (min-width : #{$md}) and (max-width : #{$lg})" !default;
$lg-only     : "only screen and (min-width : #{$lg}) and (max-width : #{$xl})" !default;





/************************************************************
 * 5. #Z-INDEX
 ************************************************************/
$zindex-dropdown       : 1000 !default;
$zindex-sticky         : 1020 !default;
$zindex-fixed          : 1030 !default;
$zindex-modal-backdrop : 1040 !default;
$zindex-modal          : 1050 !default;
$zindex-popover        : 1060 !default;
$zindex-tooltip        : 1070 !default;
