/* Fonts */

@font-face {
  font-family: 'lato-light';
  src: url('fonts/Lato-Light.eot');
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato-Light.woff') format('woff'),
  url('fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
