/************************************************************
 * #GLOBAL
 ************************************************************/

* {
  box-sizing: border-box;
}

* 
*:focus
*:active{
  outline: 0 !important;
}

a {
  color: $primary-color;
}


body{
  background-color: tomato;
  font-family: $font-family-default;
  font-size: $font-size-h4;
  color: $secondary-color;
  margin: 0;
}


// section wrapper
section {
  &.wrapper {
    max-width: $container-width;
    margin: 0 auto;
  }
}

