/* ==========================================================================
   #TEXTS
   ========================================================================== */
a ,
p {
  line-height: rem-calc(22);
}

// Highlighted
.highlighted {
  color: $secondary-color;
}


// Mute
.mute {
  color: $grey-bluish;
}


// Error
.error {
  color: tomato;
  font-size: $font-size-micro;
}
