/* ==========================================================================
#MODAL
========================================================================== */

.c-modal {

  background-color: rgba(0, 0, 0, .6);
  color: $grey-dark;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: none;
  transition: all 300ms ease-out;
  z-index: $zindex-back;

  $b : &;

  &.is-visible {

    opacity: 1;
    z-index: $zindex-modal;

    @media #{$lg-and-up} {

      height: 100%;
      padding-top: 4.2rem;
      padding-bottom: 4.2rem;

    }

  }

  // Modal container
  &__container {

    background-color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    top: 100%;
    transition: all 350ms ease-in-out;

    @media #{$lg-and-up} {

      border-radius: 1.8rem;
      min-width: 30rem;
      max-width: 76.8rem;
      min-height: 35rem;
      max-height: 75vh;
      transform: scale(.7);
      top: initial;

    }


   #{$b}.is-visible & {

     opacity: 1;
     top: 0;

     @media #{$lg-and-up} {
       transform: scale(1);
       top: initial;
     }

   }

  }
  // @Modal container


  // Modal header & footer sharing
  &__header ,
  &__footer {

    background-color: white;
    display: flex;
    align-items: center;
    padding: 1.6rem;

    @media #{$lg-and-up} {
      padding: 2.4rem;
    }

  }
  // @Modal header & footer sharing



  // Modal header
  &__header {

    border-bottom: .1rem solid $grey-light;
    display: flex;
    alig-items: center;

    &-title {

      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0;

      @media #{$md-and-up} {
        font-size: 2rem;
      }

    }

  }
  // @Modal header


  // Modal footer
  &__footer {

    border-top: .1rem solid $grey-light;
    justify-content: center;
    align-items: center;

  }
  // @Modal footer

  // @Modal content
  &__content {

    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 1.6rem;

    @media #{$lg-and-up} {
      padding: 2.4rem;
    }

  }
  // @Modal content

  // Close
  &__close {

    font-size: 1.2rem;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

  }
  // @Close

}
