/* ==========================================================================
   #MODAL
   ========================================================================== */

.wrapper-modal {
    transition: top 300ms ease-out;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    display: flex;
    height: 100%;
    opacity: 0;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: $zindex-modal;

    @media #{$lg-and-up} {
      transition: all 0ms ease-out;
      top: 0;
      height: 0;
    }

    &.active {
      opacity: 1;
      top: 0;
      @media #{$lg-and-up} {
        height: 100%;
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
      }
    }

  // Modal container
  .modal-container {
    background-color: white;
    border: 1px solid $grey-light;
    border-radius: .4rem;
    max-width: 76.8rem;
    min-height: 35rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Close
    .modal-close {
      background-image: asset-url('icons/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.4rem $zeta-size;
      width: 4.8rem;
      height: 4.8rem;
      position: absolute;
      top: .8rem;
      right: 0;

      @media #{$lg-and-up} {
        right: 2.4rem;
      }
    }
    // @Close

    // Modal header & footer
    .modal-header ,
    .modal-footer {
      background-color: white;
      height: 7.2rem;
      display: flex;
      align-items: center;
      padding: 0 1.6rem;

      @media #{$lg-and-up} {
        padding: 0 2.4rem;
      }
    }
    // @Modal header & footer

    // Modal header
    .modal-header {
      border-bottom: .1rem solid $grey-light;

      .title {
        font-size: $font-size-h5;
        line-height: $font-size-h5;
        margin: 0;

        @media #{$md-and-up} {
          font-size: 2rem;
        }
      }
    }
    // @Modal header

    // Modal footer
    .modal-footer {
      border-top: .1rem solid $grey-light;
      justify-content: center;
      align-items: center;
    }
    // @Modal footer
    
    .modal-content {
      flex: 1;
    }
  }
  // @Modal container
}
