/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {

  width: 100%;
  height: $size-giga;
  padding: $size-l;

  $b: &;

  &__text {

    color: $grey-light;
    font-size: 1.4rem;

    #{$b}--alc & {

      text-align: center;

    }

    #{$b}--alr & {

      text-align: right;

    }

  }

}

