/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-button {

  background-color: var(--white);
  border-radius: 1.8rem;
  font-size: 1.4rem;
  padding: .8rem;

}
