/************************************************************
 * GRID
 ************************************************************/

.col-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: rem-calc(24);

  .col {
    background-color: peru;
  }
}
