<div class="c-carousel js-carousel">

  <div class="c-carousel__track" data-glide-el="track">

    <div class="c-carousel__slides">
      <div class="c-carousel__slide">
        <p class="c-carousel__slide-text">slide 1</p>
      </div>

      <div class="c-carousel__slide">
        <p class="c-carousel__slide-text">slide 2</p>
      </div>

      <div class="c-carousel__slide">
        <p class="c-carousel__slide-text">slide 3</p>
      </div>

      <div class="c-carousel__slide">
        <p class="c-carousel__slide-text">slide 4</p>
      </div>

      <div class="c-carousel__slide">
        <p class="c-carousel__slide-text">slide 5</p>
      </div>
    </div>

  <div data-glide-el="controls">
    <button data-glide-dir="<<">Start</button>
    <button data-glide-dir=">>">End</button>
  </div>

  <div class="c-carousel__arrows" data-glide-el="controls">
    <button class="c-carousel__arrow c-carousel__arrow--left" data-glide-dir="<">prev</button>
    <button class="c-carousel__arrow c-carousel__arrow--right" data-glide-dir=">">next</button>
  </div>

  <div class="c-carousel__bullets-container" data-glide-el="controls[nav]"></div>

</div>
