<form action="" method="get" accept-charset="utf-8" class="o-form">
  @@loop("../components/_input.html", [
  {
  "type": "input", 
  "label": "Nombre", 
  "error": "Debe escribir un nombre", 
  "class": "c-form__input js-username",
  "name": "username"
  },
  {
  "type": "email", 
  "label": "Email", 
  "error": "Debe escribir un email correcto", 
  "class": "c-form__input js-email",
  "name": "email"
  },
  {
  "type": "checkbox", 
  "label": "Acepto la <a href='#' class='underlined'>Política de Privacidad</a>.", 
  "error": "Debe aceptar la política de privacidad",
  "class": "c-form__checkbox js-checkbox",
  "name": "checkbox"
  }
  ])
  <input type="submit" value="Enviar" class="c-button o-form__submit o-form__submit--disabled js-form__submit">
</form>
