<header class="c-header"> 

  <h4>Logo</h4>
  <nav class="c-nav">

    @@if(context.page === 'index') {

    <!-- Dropdown -->
    <div class="c-dropdown">
      <div class="c-dropdown__container">
        <button type="button" class="c-dropdown__button js-toogle-dropdown">Menu</button>
        <ul class="c-dropdown__content c-dropdown__content--right">
          <li><a href="/index.html" class="c-dropdown__link js-dropdown__link js-toogle-dropdown c-nav__link is-active">Index</a></li>   
          <li><a href="/about.html" class="c-dropdown__link js-dropdown__link js-toogle-dropdown c-nav__link">About</a></li>   
        </ul>
      </div>
    </div>
    <!-- @Dropdown -->

    }
    @@if(context.page === 'about') {
    <!-- Dropdown -->
    <div class="c-dropdown">
      <div class="c-dropdown__container">
        <button type="button" class="c-dropdown__button js-toogle-dropdown">Menu</button>
        <ul class="c-dropdown__content c-dropdown__content--right">
          <li><a href="/index.html" class="c-dropdown__link js-dropdown__link js-toogle-dropdown c-nav__link">Index</a></li>   
          <li><a href="/about.html" class="c-dropdown__link js-dropdown__link js-toogle-dropdown c-nav__link is-active">About</a></li>   
        </ul>
      </div>
    </div>
    <!-- @Dropdown -->
    }
    <a href="#" class="c-nav__link js-change-theme" data-theme="t-dark">Dark theme</a>
  </nav>

</header>
