/* ==========================================================================
   #GLOBAL
   ========================================================================== */

body {
  background-color: white;
  font-family: $font-family-default;
  font-size: $font-size-h6;
  color: $texts;
  height: 100vh;
  overflow-x: hidden;

}
