/* ==========================================================================
   #GLOBAL
   ========================================================================== */

body {
  background-color: white;
  font-family: $font-family-default;
  font-size: $font-size-h6;
  color: $texts;
  height: 100vh;
  overflow-x: hidden;

  &.modal {
      .header-main ,
      .page-footer ,
      .wrapper-main > *:not(.wrapper-modal) {
          filter: blur(2px);
      }
  }

}
