/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  background-color: black;
  /*
   * background-image: url('../images/bg.jpg');
   * background-size: cover;
   * background-repeat: no-repeat;
   * background-position: bottom center;
   */
  color: $grey-light;
  font-family: $font-family-regular;
  font-size: 1.6rem;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  &.has-modal {

    overflow: hidden;

      .c-header  > *:not(.c-modal) ,
      .c-footer  > *:not(.c-modal) ,
      .o-wrapper > *:not(.c-modal) {
          filter: blur(2px);
      }

  }

}
