<main class="wrapper"> 
  <h1 class="title">Condiciones legales</h1>
  <div class="description">
    <p>
    En We preferimos no recoger datos personales, sólo te pedimos aquellos necesarios para prestarte el servicio que nos has solicitado.
    <br/>
    <br/>
    Responsable del tratamiento de tus datos
    We are We Places, SL. Completar datos CIF, dirección, email de contacto
    <br/>
    <br/>
    Finalidad del tratamiento de tus datos
    · Comunicarnos, gestionar las relaciones y dar respuesta a sus solicitudes de información con nuestros usuarios y clientes. · Mantenerles informados de las novedades relacionadas con nuestras apps We y We.Premium.
    <br/>
    <br/>
    Legitimación del tratamiento
    El propio consentimiento expreso de los titulares de los datos en los formularios en los que nos facilitan dicha información.
    <br/>
    <br/>
    Encargados del tratamiento de los datos
    Tenemos nuestras propias herramientas que nos permiten trazar la navegación de los usuarios, pudiendo así elaborar perfiles estadísticos que nos permiten ofrecer a quien nos visitan una información más directa y personalizada. Para ello, siempre elegimos proveedores de demostrada experiencia y solvencia como son: Google y Mailchimp.  Todos ellos han confirmado ajustarse a la normativa europea de protección de datos personales.
    <br/>
    <br/>
    Derechos de nuestros usuarios y clientes
    Siempre que quieras podrás acceder a tus datos, rectificarlos, modificarlos, cancelarlos, suprimirlos, oponerte a su tratamiento, revocarlos, limitarlos y ejercer la portabilidad sobre los mismos mediante cualquiera de estos procedimientos.  Por correo electrónico:
    Escribiéndonos al correo electrónico hola@we-places.com
    Por carta:
    Enviándonos una carta ordinaria a We (Delegado Protección Datos), Calle San Pedro, 2. 28014 Madrid.
    </p>
  </div>

</main>
