/* ==========================================================================
   #FONTS AVENIR
   ========================================================================== */


// Avernir Roman
@font-face {
  font-family: 'avenir';
  src: url('../fonts/AvenirLTPro-Roman.eot');
  src: url('../fonts/AvenirLTPro-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirLTPro-Roman.woff') format('woff'),
  url('../fonts/AvenirLTPro-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
